{% extends '_base.html' %}

{% block title %}{{ project.title }}{% endblock title %}

{% block content %}
    <div class="project-detail">
        {% if project.cover %}
            <img class="coverpic" src="{{ project.cover.url }}" alt="{{ project.title }}" style="height: 300px">
        {% endif %}
        <h2><a href="">{{ project.title }}</a></h2>
            <div>
                <p>Title: {{ project.title }}</p>
                <p>Description: {{ project.description }}</p>
            </div>
    <div>
        <h3>Reviews</h3>
        <ul>
            {% for review in project.reviews.all %}
                <li>{{ review.review }} ({{ review.author }})</li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock content %}
