{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sign Up</button>
        <a href="{% provider_login_url 'google' %}" class="btn btn-info" role="button">With Google</a>
        <a href="{% provider_login_url 'github' %}" class="btn btn-info" role="button" style="background-color: coral">With Github</a>
    </form>
{% endblock content %}